<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-r-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.5 4.002V12h1.335V8.924H8.52L9.98 12h1.52L9.856 8.701c.828-.299 1.495-1.101 1.495-2.238 0-1.488-1.03-2.461-2.74-2.461zm1.335 1.09v2.777h1.549c.995 0 1.573-.463 1.573-1.36 0-.913-.596-1.417-1.537-1.417z"/>
        </svg>
        Referral app
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            For referrals
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'create_link' %}">Create referral link</a></li>
            <li><a class="dropdown-item" href="{% url 'delete_link' %}">Delete referral link</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'show_referrers' %}">Show my referrals</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            For referrers
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'add_link' %}">Add referrer link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav me-2 mb-2 mb-lg-0">
          <span class="nav-link active">
              {% if user.is_authenticated %}
                {{ user.get_username }}
              {% endif %}
          </span>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'register' %}">Sign up</a></li>
            <li><a class="dropdown-item" href="{% url 'login' %}">Log in</a></li>
            {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>